# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Asset Store tools
AssetStoreTools*/

# Visual Studio / MSBuild
.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider / JetBrains
.idea/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Crash reports
sysinfo.txt

# Unity Plastic SCM metadata (if using Git)
.plastic/
